<div id="tweets">
  
</div>

<script type="text/javascript" charset="utf-8">
function displayTweets() {
  $.ajax({
    url: "/tweets/get_tweets",
    dataType: 'json',
    success: function(tweets) {
      var data = "";
      for(i = 0; i < tweets.length; i++) {
        data += "<div class='tweet'><span class='name'>" + tweets[i][0] + "</span><span class='text'>" + tweets[i][1] + "</span></div>";
      }
      $("#tweets").html(data);
      $('#tweets').cycle({ 
        fx:     'scrollDown,fade,scrollUp,shuffle', 
        continuous: false,
        autostop: true,
        autostopCount: tweets.length,
        end: displayTweets
      });
    }
  });
}

  $(document).ready(function() {
    displayTweets();
  });

</script>